@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap");

/* Global Styles */
:root {
	--white: #fff;
	--dark-blue: #004f9e;
	--dark-skyBlue: #1a8cff;
	--light-skyBlue: #80bfff;
	--very-light-skyBlue: #719ece;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Source Sans Pro", sans-serif;
}

header,
.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header__container,
.searchBar,
.content {
	padding: 20px;
}

.hide {
	display: none;
}

/* Header Section */
.header__container {
	background: linear-gradient(var(--dark-skyBlue), var(--light-skyBlue));
}

.filter__todo {
	font-size: 1.33em;
	line-height: 1;
	color: var(--white);
	font-weight: 600;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: var(--dark-skyBlue);
}

.filter__todo option {
	color: var(--dark-blue);
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

button {
	cursor: pointer;
	background: transparent;
	border: none;
	color: var(--white);
}

button:hover {
	color: var(--dark-blue);
}

.addTodo,
.showList {
	margin-right: 20px;
}

/* Add new task */
.addNewTask {
	background-color: var(--white);
	padding: 5px;
	text-align: center;
}

/* Search Bar */
.searchBar {
	display: flex;
	flex-direction: row;
}

.todo-searchBar {
	padding: 5px 10px 5px 10px;
	width: 100%;
	border: solid 2px var(--light-skyBlue);
	outline: none;
}

.todo-searchBar:focus {
	border: solid 2px var(--dark-skyBlue);
	box-shadow: 0 0 10px var(--very-light-skyBlue);
}

.searchBtn {
	position: absolute;
	right: 38px;
	color: var(--light-skyBlue);
}

/* Content Section */
.date {
	display: flex;
}

.day {
	margin-right: 10px;
}

.month-date {
	line-height: 1.5;
}
